<nav> 
    <div class="logo"><a href="./index">DK</a></div> 
    <ul >
      <li><a <% if(title == "HOME") { %> class="active" <% } %> href="/">Home</a></li>
      <li><a <% if(title == "ABOUT ME") { %> class="active" <% } %> href="/about">About</a></li>
      <li><a <% if(title == "PROJECTS") { %> class="active" <% } %> href="/projects">Projects</a></li>
      <li><a <% if(title == "GALLERY") { %> class="active" <% } %> href="/gallery">Gallery</a></li>
      <li><a <% if(title == "REACH OUT") { %> class="active" <% } %> href="/contact">Contact</a></li>
    </ul>
  </nav>