<%- include('partials/header') %>
</main>
  <%- include('partials/nav') %>
      <section class="hero">
         <h1><%= description %></h1>
      </section>
</main>
<%- include('partials/footer') %>